body{
    margin: 0px;
    width: 450px;
    height: 600px;
    overflow: hidden;
}
.head{
    display: flex;
    margin-top: 0px;
    padding-top: 0px;
    align-items: flex-start;
}
.heading{
    background-color: #739FE1;
    padding: 0px;
    overflow: hidden;
    text-align: left;
   /* position: relative;*/
    width: 500px; 
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.heading button[name="logout"]{
    float:right;
    background:#1F58AD;
    border-radius: 20px;
    width:20%;
    height: 30px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 7px;
    margin-top: -70px;
    margin-bottom: 30px;
}
.heading h1{
    color: white;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    height: 48px;
    padding-left: 10px;
    margin-top: 0px;
}
.heading h3{
    color: #1F58AD;
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 0px;
    margin-top: 0;
    padding-left: 10px;
}
/* heading wishlist */
.wishlist{
    color: #00255C;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 0;
}
.name{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    color: #00255C;
    font-size: 14px;
    font-weight: bold;
}
.items{
    width: 430px;
    height: 400px;
    padding: 10px;
    padding-right: 25px;;
    background-image:
      linear-gradient(to bottom,
        rgba(234, 242, 255, 1) 0%,
        rgba(234, 242, 255, 1) 100%),
      linear-gradient(to bottom,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%);
    background-clip: content-box, padding-box;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    margin:0px;
}
.WishlistTable{
    border-spacing: 10px;
}
.item{
    font-size: 5px;
    color: black;
    padding-left: 7px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
    width: 300px;
}
.retailer{
    padding-left: 15px;
    font-size: 11px;
    text-align: left;
}
.price{
    padding-left: 24px;
    font-size: 11px;
    text-align: right;
    width: 100%;
}
.close {
    cursor: pointer;
    position: absolute;
    top: 47%;
    padding-top: 90px;
    right: 0%;
    padding: 12px 12px;
    transform: translate(0%, -50%);
    font-size: 20px;
  }
.close:hover {background: #bbb;}
.footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: #739FE1;
    display: flex;
    justify-content: space-evenly;
}
.home{
    padding-top: 7px;
    padding-left: 15px;
}
.trash{
    padding-top: 6px;
}
.item a{
    color: grey;
    font-size: 3em;
}